.profile {
  width: 25%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 3px;
  padding: 2rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  /* transform: skewX(-12deg); */
text-align: center; }
  .profile__shape {
    width: 12rem;
    height: 12rem;
    float: top;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    /* moves profile shape left/right on x and up/down on Y, skew is for degrees  */
    transform: translateX(3.5rem) ;
    position: relative; }
  .profile__img {
    height: 100%;
    /* controls image in circle */
    transform: translateX(-.8rem) scale(2);
    backface-visibility: hidden;
    transition: all .5s; }
  .profile__text {
    transform: skewX(0deg); }
  .profile__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .profile:hover .profile__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .profile:hover .profile__img {
    transform: translateX(1rem) scale(2.4);
    filter: blur(3px) brightness(80%); }

    h3 {
      color: black;
    }

    h4 {
      color: black;
    }