/* login/signup form  */

.logo-box {
  position: absolute;
  top: 30px;
  left: 30px;
}

.logo-1 {
  height: 65px;
  /* best to control height of element and have browser figure out the rest */

}

h1 {
  font-weight: bold;
  margin: 0;
  color: rgb(252, 249, 249);
}

p {
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
  color: white;
}

span {
  font-size: 12px;
}

a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  /* margin: 15px 0; */
  margin-right: 17%
}

button {
  border-radius: 20px;
  border: none;
  background-color: transparent;
  color: #ffffff;
  margin-bottom: 5%;
  margin-top: -5%;
  font-size: 12px;
  font-weight: 400px;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
  width: 10%;
  margin-bottom: 5%;
  margin-top: -5%;
  padding: 10px 15px;
  /* margin: 8px; */
}

form#signin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0 50px;
  height: 100%;
  text-align: center;
  margin: auto;
}

input.signin {
  background-color: white;
  border: none;
  padding: 10px 15px;
  margin: 8px;
  width: 70%;
  border-radius: 50px;
  margin-bottom: 5%;
  margin-top: -5%;
}



/* .container {
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: absolute;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  top: 50%;
  bottom: 50%;
  left: 0;
  right: 0;
  margin: auto;
} */

/* .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
} */

/* sets width of form inputs */
.sign-in-container {
  left: 0;
  width: 40%;
  z-index: 2;
}


/* .sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
 */





/* .overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
} */
